*dSYM/
publisher/publish
install_publisher
.vmodules/
vex_webserver
publishtools/publishtools
.vscode
*.log
!.env.example
.cache
.DS_Store
src/.temp
content/news
content/person
content/project
!.env.example
.env
.env.*
yarn.lock
.installed
package-lock.json
dist
.temp
run*
install*
public
public/*
public/home/index.html
static/css
tailwindcss
